*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  // the defines what 1rem is
  font-size: 62.5%; // 1rem = 10px;

  // order is matter
  @include respond(tab-land) {
    //width < 900px
    font-size: 56.2%; // 1rem = 9px; 9 / 16 = 56%
  }

  @include respond(tab-port) {
    //width < 600px
    font-size: 50%; // 1rem = 8px; 8 / 16
  }

  @include respond(phone) {
    //width < 600px
    font-size: 30%; // 1rem = 4.8px; 8 / 16
  }

  @include respond(big-desktop) {
    font-size: 75%; // 1rem = 12 ; 12 /16
  }
}

body {
  box-sizing: border-box;
}
