.composition {
  position: relative;
}

.composition-photo {
  width: 55%;
  box-shadow: 0 1.5rem 4rem rgba($color-black, 0.4);
  border-radius: 2px;
  position: absolute;
  transition: all 0.2s;
  outline-offset: 2rem;
}

.composition-photo--p1 {
  left: 0;
  top: -2rem;
}

.composition-photo--p2 {
  right: 0;
  top: 2rem;
}

.composition-photo--p3 {
  left: 20%;
  top: 10rem;
}

.composition-photo:hover {
  outline: 1.5rem solid $color-primary;
  transform: scale(1.05) translateY(-0.5rem);
  box-shadow: 0 2.5rem 4rem rgba($color-black, 0.5);
  z-index: 20;
}

.composition:hover .composition-photo:not(:hover) {
  transform: scale(0.9);
}
