@mixin clearfix {
  &::after {
    content: "";
    display: table;
    clear: both;
  }
}

@mixin absCenter {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

// Media query
/*
@@ 0 - 600px; Phono
@@ 600 - 900px; Tablet portrait
@@ 900 - 1200px; Tablet landscape
@@ [1200 - 1800] is where our normal styles apply
@@ 1000px + ; Big desktop
*/

/*
$breakpoint arguments choices
-- phone
-- tab-port
-- tab-land
-- big-desktop

Orders: Base + typography > general layout + grid > page layout > components

use ems in media query
1em = 16px;
*/

@mixin respond($breakpoint) {
  @if $breakpoint == phone {
    @media (max-width: 37.5em) {
      //600px
      @content;
    }
  }
  @if $breakpoint == tab-port {
    @media (max-width: 56.2em) {
      //900px
      @content;
    }
  }

  @if $breakpoint == tab-land {
    @media (max-width: 75em) {
      //1200px
      @content;
    }
  }

  @if $breakpoint == big-desktop {
    @media (max-width: 112.5em) {
      //1800px
      @content;
    }
  }
}
